<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>kumon</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'kumon/bootstrap.min.css' %}">
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'kumon/kumon.css' %}">
    
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="{% static 'kumon/font-awesome.min.css' %}" type="text/css">
        

</head>

<body>

    <div id="wrapper">

            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><font color="white">KUMON Poblacion (Guagua) Center</font></a>
                    </div>
                    <!-- /.navbar-header -->
        
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell fa-fw" style="color:#16242B"></i> <i class="fa fa-caret-down" style="color: #16242B"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-tasks fa-fw"></i> New Task
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="text-center" href="#">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw" style="color: #16242B"></i> <i class="fa fa-caret-down" style="color: #16242B"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                    <!-- /.navbar-top-links -->
        

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/kumon/home"><i class="fa fa-home fa-fw"></i> home</a>
                        </li>
                        
                        <li>
                            <a href="/kumon/students"><i class="fa fa-server fa-fw" ></i> Students</a>
                        </li>
                        <li>
                            <a href="/kumon/teachers"><i class="fa fa-group fa-fw"></i> Teachers</a>
                        </li>
                        <li>
                            <a href="/kumon/attendance"><i class="fa fa-check-square fa-fw"></i> Attendance</a>
                        </li>
                          <li>
                            <a href="/kumon/schedule"><i class="fa fa-calendar fa-fw"></i> Schedule</a>
                        </li>
                        <li style = "background-color:lightgray;">
                            <a href="/kumon/salaries"><i class="fa fa-database fa-fw"></i> Salary</a>
                        </li>
                          <li>
                            <a href="/kumon/payments"><i class="fa fa-money fa-fw"></i> Payments</a>
                        </li>
                        <li>
                            <a href="/kumon/expenses"><i class="fa fa-envelope-o fa-fw"></i> Expenses</a>
                        </li>
                        <li>
                            <a href="/kumon/inventory"><i class="fa fa-cube fa-fw"></i> Inventory</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    <div style="position:absolute; left:270px; top:70px;">
        <Label> Teacher Name </Label>
        <button id = "addbtn">Add</button>
        <button id = "rembtn">Remove</button>
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="info"><strong>Salary:</strong> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="success" rowspan="3">Bonuses: </td>
                <td>Allowance: <input type = "text" name = "allowance_amount" value = "4050" /> </td>
                <td><input type="checkbox" name="allowance_check" /> </td>
            </tr>
            <tr>
                <td><em>Key-holder</em> Pay: <input type = "text" name = "keypay_amount" value = "0" /></td>
                <td><input type="checkbox" name="key_check" /> </td>
            </tr>
            <tr>
                <td><em>No-late</em> Pay: <input type = "text" name = "nolate_amount" value = "0" /></td>
                <td><input type="checkbox" name="late_check" /> </td>
            </tr>
            <tr>
                <td class="danger" rowspan="5">Deductions: </td>
                <td>Absences: <input type = "text" name = "absence_amount" value = "0" /></td>
                <td><input type="checkbox" name="late_check" /> </td>
            </tr>
            <tr>
                <td>Undertime: <input type = "text" name = "undertime_amount" value = "0" /></td>
                <td><input type="checkbox" name="late_check" /> </td>
            </tr>
            <tr>
                <td>SSS Deduction: <input type = "text" name = "SSS_amount" value = "100" /></td>
                <td><input type="checkbox" name="late_check" /> </td>
            </tr>
            <tr>
                <td>PhilHealth Deduction: <input type = "text" name = "PH_amount" value = "100" /></td>
                <td><input type="checkbox" name="late_check" /> </td>
            </tr>
            <tr>
                <td>Pag-Ibig Deduction: <input type = "text" name = "PI_amount" value = "100" /></td>
                <td><input type="checkbox" name="late_check" /> </td>
            </tr>
            
            <tr>
                <td class = "warning"> TOTAL SALARY: <input type = "text" name = "TOTAL_amount" value = "3750"/></td>
            </tr>
        </tbody>
    </table>
</div>
    <label>DATE: </label>
    <input type="text" name="salary_amount" class="salary_amount">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        </div>
    </div>
        </body>
        

</html>